* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebdede;
}

.main {
  width: 90%;
  margin: 10% auto;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

h2 {
  color: white;
  font-size: 1.1rem;
}

p {
  color: grey;
  line-height: 1.4;
}

.grid {
  padding: 30px;
  border-radius: .5em;
}

.grid .name-container {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

img {
  display: inline-block;
  border-radius: 5rem;
  width: 40px;
  vertical-align: middle;
}

.tl {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tl;
  background: url("../images/bg-pattern-quotation.svg") no-repeat 90% 0;
  background-color: purple;
}

.tl img {
  border: 3px solid grey;
}

.tr {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tr;
  background-color: grey;
}

.lb, .ra {
  background-color: white;
}

.lb h1, .ra h1 {
  color: black;
}

.lb h2, .ra h2 {
  color: grey;
}

.lb p, .ra p {
  color: grey;
}

.lb {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lb;
}

.ra {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: ra;
}

.mb {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: mb;
  background-color: black;
}

.mb img {
  border: 3px solid purple;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'tl' 'tr' 'lb' 'mb' 'ra';
  gap: 2rem;
}

@media screen and (min-width: 1052px) {
  .main {
    width: 80%;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'tl tl tr ra' 'lb mb mb ra';
  }
}
