* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: Barlow;
  font-size: 16px;
}

.main {
  width: 90%;
  margin: 10% auto;
  height: 70%;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  color: #cfcfcf;
  line-height: 1.4;
  font-weight: 500;
}

.grid {
  padding: 30px;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px grey;
}

.grid .name-container {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.grid .name-container p {
  color: #cfcfcf;
}

img {
  display: inline-block;
  border-radius: 5rem;
  width: 40px;
  vertical-align: middle;
}

.tl {
  grid-area: tl;
  background: url("../images/bg-pattern-quotation.svg") no-repeat 90% 0;
  background-color: #7541c8;
}

.tl img {
  border: 3px solid #cfcfcf;
}

.tr {
  grid-area: tr;
  background-color: #48556a;
}

.lb,
.ra {
  background-color: white;
}

.lb h1,
.ra h1 {
  color: #19212e;
}

.lb h2,
.ra h2 {
  color: #48556a;
}

.lb p,
.ra p {
  color: #48556a;
}

.lb {
  grid-area: lb;
}

.ra {
  grid-area: ra;
}

.mb {
  grid-area: mb;
  background-color: #19212e;
}

.mb img {
  border: 3px solid #7541c8;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "tl" "tr" "lb" "mb" "ra";
  gap: 2rem;
}

@media screen and (min-width: 1052px) {
  .main {
    width: 80%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "tl tl tr ra" "lb mb mb ra";
  }
}
