* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebdede;
}

.main {
  width: 90%;
  margin: 10% auto;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

h2 {
  color: white;
  font-size: 1.1rem;
}

p {
  color: grey;
  line-height: 1.4;
}

.grid {
  padding: 30px;
  border-radius: .5em;
}

.grid .name-container {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

img {
  display: inline-block;
  border-radius: 5rem;
  width: 40px;
  vertical-align: middle;
}

.tl {
  background: url("../images/bg-pattern-quotation.svg") no-repeat 90% 0;
  background-color: purple;
}

.tl img {
  border: 3px solid grey;
}

.tr {
  background-color: grey;
}

.lb, .ra {
  background-color: white;
}

.lb h1, .ra h1 {
  color: black;
}

.lb h2, .ra h2 {
  color: grey;
}

.lb p, .ra p {
  color: grey;
}

.mb {
  background-color: black;
}

.mb img {
  border: 3px solid purple;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'tl' 'tr' 'lb' 'mb' 'ra';
  gap: 2rem;
}

@media screen and (min-width: 1052px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 500px 500px;
        grid-template-rows: 500px 500px;
        grid-template-areas: 'tl tl tl tl tl tl tr tr tr ra ra ra' 'lb lb lb mb mb mb mb mb mb ra ra ra';
  }
}
