$purple:purple;
$dark-grey:grey;
$black:black;
$light-grey:grey;
*{
  margin:0;
  padding:0;
}

body{
  background-color:#ebdede;
}
h1{
  color:white;
  font-size:1.8rem;
  margin:1.5rem 0;
}
h2{
  color:white;
  font-size:1.1rem;
}
p{
  color:$light-grey;
  line-height:1.4;
}

.grid{
  padding:30px;
  border-radius:.5em;
  .name-container{
    display:inline-block;
    margin-left:1rem;
  }
}

img{
  display:inline-block;
  border-radius:5rem;
  width:40px;
}

.tl{
  background-color:purple;
  img{
    border:3px solid $light-grey;
  }
  
}

@media screen and (min-width:1052px){
  .grid-container{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:500px 500px;
    grid-template-areas:
    'tl tl tl tl tl tl tr tr tr ra ra ra'
    'lb lb lb bm bm bm bm bm bm ra ra ra'
    ;
  }
}
