$purple: hsl(263, 55%, 52%);
$dark-grey: hsl(217, 19%, 35%);
$black: hsl(219, 29%, 14%);
$light-grey: hsl(0, 0%, 81%);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: Barlow;
  font-size: 16px;
}

.main {
  width: 90%;
  margin: 10% auto;
  height: 70%;
}
h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
p {
  color: $light-grey;
  line-height: 1.4;
  font-weight: 500;
}

.grid {
  padding: 30px;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px grey;
  .name-container {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
    p {
      color: $light-grey;
    }
  }
}

img {
  display: inline-block;
  border-radius: 5rem;
  width: 40px;
  vertical-align: middle;
}

.tl {
  grid-area: tl;
  background: url("../images/bg-pattern-quotation.svg") no-repeat 90% 0;
  background-color: $purple;

  img {
    border: 3px solid $light-grey;
  }
}

.tr {
  grid-area: tr;
  background-color: $dark-grey;
}

.lb,
.ra {
  background-color: white;
  h1 {
    color: $black;
  }
  h2 {
    color: $dark-grey;
  }
  p {
    color: $dark-grey;
  }
}
.lb {
  grid-area: lb;
}

.ra {
  grid-area: ra;
}

.mb {
  grid-area: mb;
  background-color: $black;
  img {
    border: 3px solid $purple;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "tl"
    "tr"
    "lb"
    "mb"
    "ra";
  gap: 2rem;
}

@media screen and (min-width: 1052px) {
  .main {
    width: 80%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
      "tl tl tr ra"
      "lb mb mb ra";
  }
}
